/* CSS Document */
form
{
	margin:10px;
	line-height: 20px;
}

input[type="text"],
input[type="password"],
textarea
{
	min-width: 350px;	
}

table.table {
	border-collapse:collapse;
}

table.table tr td {
	padding: 5px;
	vertical-align:text-top;
}

.head-left {
	float:left;	
}

.head-right {
	float: right;
	text-align:right;
	padding-top:10px;
	padding-right: 20px;
}