.icon-home {
	background: url(../icon/home.png) no-repeat center center;
}
.icon-archive {
	background: url(../icon/archive.png) no-repeat center center;
}
.icon-setting {
	background: url(../icon/setting.png) no-repeat center center;
}
.icon-edit {
	background: url(../icon/pencil.png) no-repeat center center;
}
.icon-delete {
	background: url(../icon/cross.png) no-repeat center center;
}

.icon-logout {
	background: url(../icon/exclamation.png) no-repeat center center;
}