/* CSS Document */

body {
	background: url(../img/bg-body.jpg) no-repeat center fixed;	
}

#container {
	width: 500px;
	margin:10% auto;	
}

.panel-frame {
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.47);
-moz-box-shadow:    0px 0px 11px 0px rgba(0, 0, 0, 0.47);
box-shadow:         0px 0px 11px 0px rgba(0, 0, 0, 0.47);	
}